<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Mission to Mars</title>
</head>

<body>
    <div clas="container">
        <div class="jumbotron">
            <h1 align="center">Mission to Mars</h1>

            <p align="Center">
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Mars Data!!</a>
            </p>
        </div>
        <div class="page-header">
            <h1>Latest Mars News</h1>
        </div>
    </div>

    <div class="container-fluid">
        <h2>{{mars_data.News_Title}}</h2>
        <p>{{mars_data.News_Paragraph}}</p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h3>Featured Image</h3>
                <img src="{{mars_data.Featured_Image}}" alt="featured image" style="width: 70%">
            </div>

            <div class="col-md-5">
                <ul>
                    <h3>Current Mars Weather</h3>
                    {{mars_data.Weather}}
                </ul>
                <ul>
                    <h3>Mars Facts</h3>
                    {{mars_data.Table}}
                </ul>
            </div>
        </div>
    </div>

    
</body>

</html>